################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrackAndUpload/.vs/TrackAndUpload/DesignTimeBuild/.dtbcache.v2
